* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
}

.first {
    height: 50%;
    width: 100%;
    border-bottom: 2px solid white;
    padding: 1rem 1rem 0.2rem 1rem;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.first img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    max-width: 350px;
}

.second {
    height: 45%;
    width: 100%;
    /* background-color: blue; */
    overflow: auto;

}

.second div {
    width: 100%;
    height: 33%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.second div:hover {
    background-color: rgb(85, 85, 85);
}

.second div img {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    border-radius: 0.3rem;
    object-fit: cover;
}

.player {
    height: 15%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.player h3{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.player #play{
    border-radius: 50px;    
    background-color: white;

}

.player #play i{
    color: black;
}